<nav  class="navbar ">
  
  
    <a href="/home" class="pull-left visible-md visible-lg visible-sm">
      <img id="logo-img" width="120px" src='../images/logo.jpg'>



 

    <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
      <li><a href="/admin/addNews" class="nav-link px-2 link-secondary">Add News</a></li>
      <li><a href="/admin/dataNews" class="nav-link px-2 link-secondary">Edit News</a></li>
      <li><a href="/admin/logout" class="nav-link px-2 link-secondary">Logout</a></li>
    </ul>
</nav>