
    <div class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <p> © Copyrights- 24X7 News- All rights reserved  </p>
    </div>

