<nav  class="navbar ">
  
  
    <a href="/home" class="pull-left visible-md visible-lg visible-sm">
      <img id="logo-img" width="120px" src='../images/logo.jpg'>



 

    <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
      <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/sports" class="nav-link px-2 link-secondary">Sports</a></li>
      <li><a href="/about" class="nav-link px-2 link-secondary">About Us</a></li>
      <li><a href="/contactus" class="nav-link px-2 link-secondary">Contact Us</a></li>
    </ul>
</nav>